{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}
        Home Page
    {% endblock %}</title>
</head>
<body>
{% block cont-header %}
    <div id="welcome-msg">

        <h3> {% trans "Welcome to interpay" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc">
        <p>
            interpay is an online service which helps you to donate any amount of money to charity .......
        </p>
    </div>
{% endblock %}

</body>
</html>