{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        InterPay Iran
    </title>
</head>
<body>
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div id="number" class="col-sm-6 col-xs-4">hiiiiiiii</div>
                <div id="social" class="col-sm-6 col-xs-8"></div>
            </div>
        </div>
    </div>
    <nav></nav>
</header>
<section>
    <div class="container">
        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="/home">Return to the homepage.</a><br/>
        {% else %}
            <strong>register here!</strong><br/>

            <form id="user_form" method="post" action="/register"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="login-form-wrapper">
                    <div></div>
                    <div></div>
                    <form></form>
                    <a></a>

                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>